{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1><b>Вакансии по фильтру:</b></h1> <!--для вывода из views нужно использовать цикл for и тегом <div> с классом -->
<nav class="navbar navbar-light bg-body-tertiary">
    <div class="container-fluid">
        <form class="d-flex input-group w-auto" ,  , method="get">
            <input
                    type="text"
                    name="search"
                    class="form-control rounded"
                    placeholder="Поиск"
                    aria-label="Search"
                    aria-describedby="search-addon"
            />
            <button type="submit" class="btn btn-outline-success", action="{% url 'filter-salary' %}">Найти</button>
            <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
        </form>
    </div>
</nav>
{% if vacancies %}
{% for el in vacancies %}
<div class="alert alert-warning mt-2">
    <h2>{{ el.title }}</h2>
    <h3>{{ el.salary }}</h3>
    <h5>{{ el.currency }}</h5>
    <h2>{{ el.description }}</h2>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'update-vacancy' vacancy_id=el.id %}"><b>Изменить</b></a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'delete-vacancy' vacancy_id=el.id %}"><b>Удалить</b></a>
</div>
{% endfor %}
{% else %}
<p>У нас нету свободных вакансий</p>
{% endif %}
{% endblock %}