{% extends 'main/base.html' %}

{% block title %}
   {{ title }}
{% endblock %}

{% block content %}
  <h1><b>Свободные вакансии</b></h1> <!--для вывода из views нужно использовать цикл for и тегом <div> с классом -->
    {% if vacancies %}
        {% for el in vacancies %}
            <div class="alert alert-warning mt-2">
                <h2>{{ el.title }}</h2>
                <h3>{{ el.salary }}</h3>
                <h5>{{ el.currency }}</h5>
                <h2>{{ el.description }}</h2>
            </div>
        {% endfor %}
    {% else %}
        <p>У нас нету свободных вакансий</p>
    {% endif %}
{% endblock %}
